
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

p {
    background-color: midnightblue;
    font-size: 64px;
    color: lightcoral;
    font-family: 'Zen Tokyo Zoo', cursive;
    
}